mat-card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

  p {
    margin: 10px;
  }

  .center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .center-button {
    margin: 10px;
  }

.center-text {
    text-align: center;
}

.space_button_service {
  margin-left: 2.5%;
}

.space_button_create {
  margin-left: 1.5%
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 10px;
  background: #ffff;
}

.dashboard-card-content {
  text-align: center;
}

.mat-card-header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.mat-h1 {
  text-align: center;
}

.owm {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  scale: 0.5;
  margin-top: -16%;
  margin-left: -130px;
}

.mts {
  display: flex;
  margin-left: 50%;
  margin-top: -20%;
}

.btnOffOn {
  padding: 10px;
}

.github {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  scale: 0.32;
  margin-top: -16%;
  margin-left: -130px;
}

.sbm {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  scale: 0.35;
  margin-top: -16%;
  margin-left: -30%;
}

.timer {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  scale: 0.65;
  margin-top: -10%;
  margin-left: -20px;
}

.ymr {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  scale: 0.15;
  margin-top: -16%;
  margin-left: -190px;
}

.btnOffOnT {
  margin-top: -40%;
}

.aboutJson_btn {
  margin-left: 50%;
}