<!-- Navbar -->
<mat-toolbar color="primary">
  <button style="text-align: center;" mat-button routerLink="/dashboard">Area</button>
  <div class="space_button_service">
      <button mat-button routerLink="/service">Service</button>
  </div>
  <div class="space_button_create">
      <button mat-button (click)="createPage()">Create</button>
  </div>
  <ul>
      <button *ngIf="numberAction > 0" mat-button routerLink="/action1">First</button>
      <button *ngIf="numberAction > 1" mat-button routerLink="/action2">Second</button>
      <button *ngIf="numberAction > 2" mat-button routerLink="/action3">Third</button>
      <button *ngIf="numberAction > 3" mat-button routerLink="/action4">Fourth</button>
  </ul>
  <div class="aboutJson_btn">
    <button mat-button routerLink="/about.json">AboutJson</button>
</div>
</mat-toolbar>
<!-- !Navbar -->


<div class="grid-container">
  <h1 class="mat-h1"><span>A</span> <span>C</span> <span>T</span> <span>I</span> <span>O</span> <span>N</span> <span>&nbsp;</span> <span>A</span> <span>N</span> <span>D</span> <span>&nbsp;</span> <span>R</span> <span>E</span> <span>A</span> <span>C</span> <span>T</span> <span>I</span> <span>O</span> <span>N</span></h1>
    <mat-grid-list cols="2" rowHeight="350px" style="margin-top: 7%;">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-title class="mat-card-header">
            {{ card.title }}
          </mat-card-title>
          <!-- Action Button -->
          
            <mat-form-field class="d-flex justify-content-center" *ngIf="card.type === 'Action'" appearance="fill" style="width: 50%; margin: 0 auto; margin-top: 5%;">
              <mat-label>Choose Your Action !</mat-label>
              <mat-select [(ngModel)]="actionUser">
                <mat-option *ngFor="let item of Action" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            
            <ng-container *ngFor="let degre of allAction">
              <mat-form-field *ngIf="degre === actionUser && card.type === 'Action'" class="btn_tmp" appearance="fill" style="width: 16%; margin-left: 5%; margin-top: -0%;">
                <mat-label>Latitude</mat-label>
                <input matInput [(ngModel)]="latitude">
              </mat-form-field>
            </ng-container>

            <ng-container *ngFor="let degre of allAction">
              <mat-form-field *ngIf="degre === actionUser && card.type === 'Action'" class="btn_tmp" appearance="fill" style="width: 16%; margin-left: 23%; margin-top: -12.2%;">
                <mat-label>Longitude</mat-label>
                <input matInput [(ngModel)]="longitude">
              </mat-form-field>
            </ng-container>

            <ng-container *ngFor="let degre of allAction">
              <mat-form-field *ngIf="degre === actionUser && card.type === 'Action'" class="btn_tmp" appearance="fill" style="width: 35%; margin-left: 41%; margin-top: -12.2%;">
                <mat-label>Compare</mat-label>
                <mat-select [(ngModel)]="compareStatus">
                  <mat-option *ngFor="let item of compare" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>

            <ng-container *ngFor="let degre of actionDegre">
              <mat-form-field *ngIf="degre === actionUser && card.type === 'Action'" class="btn_tmp" appearance="fill" style="width: 13%; margin-left: 78%; margin-top: -12.2%;">
                <mat-label>°C</mat-label>
                <input matInput [(ngModel)]="name">
              </mat-form-field>
            </ng-container>


            <ng-container *ngFor="let degre of actionHpa">
              <mat-form-field *ngIf="degre === actionUser && card.type === 'Action'" class="btn_tmp" appearance="fill" style="width: 13%; margin-left: 78%; margin-top: -12.2%;">
                <mat-label>hPa</mat-label>
                <input matInput [(ngModel)]="name">
              </mat-form-field>
            </ng-container>

            <ng-container *ngFor="let degre of actionPorcent">
              <mat-form-field *ngIf="degre === actionUser && card.type === 'Action'" class="btn_tmp" appearance="fill" style="width: 13%; margin-left: 78%; margin-top: -12.2%;">
                <mat-label>%</mat-label>
                <input matInput [(ngModel)]="name">
              </mat-form-field>
            </ng-container>

          <!-- Action Button -->
          <!-- Reaction Button -->
          <div *ngIf="card.type === 'Reaction'" style="display: flex; flex-wrap: wrap; justify-content: center;">
            <ul style="flex-basis: 33%;" *ngIf="service2 == true">
              <mat-slide-toggle name="reaction2" [(ngModel)]="reaction2Value">Create a repo</mat-slide-toggle>
            </ul>
            <ul style="flex-basis: 33%;" *ngIf="service2 == true">
              <mat-slide-toggle name="reaction3" [(ngModel)]="reaction3Value">Create a branch</mat-slide-toggle>
            </ul>
            <ul style="flex-basis: 33%;" *ngIf="service2 == true">
              <mat-slide-toggle name="reaction4" [(ngModel)]="reaction4Value">Delete a repo</mat-slide-toggle>
            </ul>
            <ul style="flex-basis: 33%;" *ngIf="service2 == true">
              <mat-slide-toggle name="reaction5" [(ngModel)]="reaction5Value">Delete a branch</mat-slide-toggle>
            </ul>
            <ul style="flex-basis: 33%;" *ngIf="service5 == true">
              <mat-slide-toggle name="reaction1" [(ngModel)]="reaction1Value">Chuck Norris fact</mat-slide-toggle>
            </ul>
          </div>
          <!-- Reaction Button -->
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
   <button mat-raised-button color="primary" class="buttonValidate" style="margin-top: 10%;" [disabled]="buttonDisabled4" (click)="requete()">Validate And Start !</button>
   
   <div class="d-flex justify-content-center">
    <mat-form-field *ngIf="reaction2Value === true" appearance="fill" style="height: 75px; margin-left: 1%; margin-top: -10%">
      <mat-label>Create repo named</mat-label>
      <input matInput [(ngModel)]="newRepoName">
    </mat-form-field>
    <mat-form-field *ngIf="reaction3Value === true" appearance="fill" style="height: 75px; margin-left: 1%; margin-top: -10%">
      <mat-label>Choose branch named</mat-label>
      <input matInput [(ngModel)]="newBranchName">
    </mat-form-field>
    <mat-form-field *ngIf="reaction4Value === true" appearance="fill" style="height: 75px; margin-left: 1%; margin-top: -10%">
      <mat-label>Delete repo named</mat-label>
      <input matInput [(ngModel)]="destroyRepoName">
    </mat-form-field>
    <mat-form-field *ngIf="reaction5Value === true" appearance="fill" style="height: 75px; margin-left: 1%; margin-top: -10%">
      <mat-label>Delete branch named</mat-label>
      <input matInput [(ngModel)]="destroyBranchName">
    </mat-form-field>
  </div>
  </div>

<router-outlet></router-outlet>