.space_button_service {
    margin-left: 2.5%;
}

.space_button_create {
    margin-left: 1.5%
}

.aboutJson_btn {
    margin-left: 50%;
}

.mat-h1 {
    text-align: center;
    margin-top: 1.38%;
  }